dataclasses-json==0.6.7

extra-streamlit-components==0.1.71

faiss-cpu==1.9.0.post1


numpy==1.26.4
openpyxl==3.1.5


pydantic==2.10.2
pydantic-settings==2.6.1
pydantic_core==2.27.1


python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
streamlit==1.40.2
streamlit-authenticator==0.4.1
watchdog==6.0.0
